<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>

<body>
	<div id="app">
		<div v-show="show">
			<h1>To Do</h1>
			<h2>Section One</h2>
			<a :href="url" target="_blank">Ir a google</a>
		</div>
		<p v-show="!show">Not Found</p>
		<button v-on:click="add">Sumar 1</button>
		<button @click="rest">Restar 1</button>
		<p>El contador está en {{ counter }}</p>
		<!-- <button @click="counter++">Sumar 1</button>
		<button @click="counter--">Restar 1</button> -->

		<h3>Formulario</h3>
		<input type="text" name="lastName" placeholder="Ingrese nombre" v-model="lastName">
		<p>Tu nombre es: {{ lastName | uppercase }}</p>

		<form @submit.prevent="submit">
			<h2>¿Cuáles son tus cursos favoritos?</h2>
			<template v-for="course in courses">
				<course :course="course" @checked="selectCourse"></course>
			</template>
			<button type="submit">Enviar</button>
		</form>
	</div>
	<script>
		Vue.component('course', {
			props: ['course'],
			template: `
				<label>
					<input type="checkbox" :value="course.value" @change="onChange">
					{{ course.name }}
				</label>
			`,
			methods: {
				onChange: function (e) {
					this.$emit('checked', this.course.value, e.target.checked)
				}
			}
		})

		let app = new Vue({
			el: '#app',
			data: {
				name: 'Mundo',
				url: 'https://www.google.com',
				show: true,
				counter: 0,
				lastName: '',
				courses: [
					{
						name: 'Curso de Vue.js',
						value: 'vue'
					},
					{
						name: 'Curso de SEO',
						value: 'seo'
					},
					{
						name: 'Curso de React y Redux',
						value: 'react'
					},
					{
						name: 'Curso de Growth Marketing',
						value: 'growth'
					}
				],
				selectedCourses: []
			},
			methods: {
				add: function () {
					this.counter++
				},
				rest: function () {
					this.counter--
				},
				submit: function () {
					console.log('Se ejecuta el método submit')
					console.log(this.selectedCourses)
				},
				selectCourse: function (course, checked) {
					if (checked)
						this.selectedCourses.push(course)
					else {
						let index = this.selectedCourses.indexOf(course);
						this.selectedCourses.splice(index, 1)
					}
				}
			},
			filters: {
				uppercase: function (str) {
					return str.toUpperCase()
				}
			}
		})
	</script>
</body>

</html>